[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=/usr/share/icons/mate/scalable/categories/preferences-system-symbolic.svg
Icon[en_US]=/usr/share/icons/mate/scalable/categories/preferences-system-symbolic.svg
Exec=/home/er/Smart_Logistics_Kit/Test_WitCan.sh
Name[en_US]=Test_WitCan
Name=Test_WitCan
